* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #274979, #00d2ff);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.weather-card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1em);
  color: white;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
